@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
}

body {
    background-color: #FFFFFF;
}

main {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

section {
    border: 2px solid #808080;
    border-radius: 4px;
    min-width: 280px;
    padding: 10px;
}

.container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.container div {
    width: 250px;
}

.logo img {
    -webkit-filter: invert(5%) sepia(53%) saturate(6661%) hue-rotate(223deg) brightness(91%) contrast(109%);
    filter: invert(5%) sepia(53%) saturate(6661%) hue-rotate(223deg) brightness(91%) contrast(109%);;
    width: 60px;
}

.logo h1 {
    color: #010B40;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
}

button, input {
    border: none;
    border-radius: 4px;
    height: 32px;
    margin-top: 6px;
    width: 100%;
}

button {
    background-color: #B4BEC9;
    margin-bottom: 8px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

input {
    border: 1px solid #808080;
    text-align: center;
}

.qr-code {
    border: 1px solid #808080;
    border-radius: 4px;
}

.qr-code img {
    height: 240px;
    padding: 5px;
    width: 240px;
}

/* Footer */
.thenextbunny {
    margin: 5px;
    text-align: center;
}

.thenextbunny img {
    margin-top: 8px;
    width: 25px;
}

.thenextbunny img:hover {
    -webkit-filter: invert(43%) sepia(15%) saturate(6863%) hue-rotate(152deg) brightness(92%) contrast(83%);
    filter: invert(43%) sepia(15%) saturate(6863%) hue-rotate(152deg) brightness(92%) contrast(83%);
}

/* Media Queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    section {
        border: none;
    }
}